@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: black;
  --background-start-rgb: rgb(226, 226, 226);
  --background-end-rgb: rgb(137, 131, 131);
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
}
